* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.header {
  height: 75px;
  background-color: grey;
  position: relative; }

.logo {
  position: absolute;
  top: 15px;
  left: 15px; }

.navig {
  width: 505px;
  float: right;
  padding-top: 25px;
  margin-right: 10px; }

.navig ul li {
  display: inline-block;
  padding-left: 15px; }

.navig ul li a {
  color: #96a6a7;
  font-size: 17px; }

.navig ul li a:hover {
  text-decoration: none;
  color: #fff; }

.navig ul li a:focus {
  color: #d4d3d3; }

.search_grey {
  height: 75px;
  width: 75px;
  float: right;
  background: #e2dee0;
  position: relative; }

.search_icon {
  position: absolute;
  top: 25px;
  left: 25px;
  color: #fff;
  font-size: 25px; }

.login_red {
  width: 300px;
  height: 75px;
  float: right;
  background: #e94e38;
  position: relative; }

.user_head {
  position: absolute;
  color: #fff;
  top: 25px;
  left: 25px;
  font-size: 25px; }

.text_login {
  color: #fff;
  position: absolute;
  top: 25px;
  left: 50px; }

.bg_color {
  height: 375px;
  background-color: rgba(31, 30, 30, 0.87); }

.figures {
  background: url("../img/bg-figures.png");
  background-size: 100% 100%;
  height: 375px;
  width: 100%;
  overflow: hidden; }

.bg_img {
  background: url("../img/background-img.jpg") no-repeat center;
  background-size: 100% 100%;
  height: 375px;
  width: 100%; }

.figures > h2 {
  color: white;
  text-align: center;
  margin-top: 50px; }

.search_divs {
  width: 475px;
  height: 220px;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 40px; }

.search_div {
  width: 225px;
  height: 55px;
  background-color: rgba(128, 128, 128, 0.322);
  border-radius: 30px;
  border: 1px solid grey;
  display: inline-block;
  color: #fff;
  position: relative;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 20px; }

.search_div:hover {
  background-color: rgba(219, 219, 219, 0.404);
  cursor: pointer; }

.arrow_down {
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 16px; }

.search_div:nth-child(2) {
  margin-left: 20px; }

.long_input {
  width: 475px;
  height: 55px;
  background-color: rgba(128, 128, 128, 0.322);
  border-radius: 30px;
  border: 1px solid grey;
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  padding-left: 20px;
  outline: none; }

.long_input::-webkit-input-placeholder {
  color: #fff;
  font-size: 20px; }

.long_input::-moz-input-placeholder {
  color: #fff;
  font-size: 20px; }

.long_input:-moz-input-placeholder {
  color: #fff;
  font-size: 20px; }

.long_input::-ms-input-placeholder {
  color: #fff;
  font-size: 20px; }

.long_input:focus::-webkit-input-placeholder {
  color: rgba(165, 165, 165, 0.418); }

.long_input:focus:-moz-placeholder {
  color: rgba(165, 165, 165, 0.418); }

.long_input:focus::-moz-placeholder {
  color: rgba(165, 165, 165, 0.418); }

.long_input:focus:-ms-input-placeholder {
  color: rgba(165, 165, 165, 0.418); }

.red_button {
  width: 140px;
  height: 60px;
  background-color: #e94e38;
  border-radius: 30px;
  margin: 30px auto 0px auto;
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding-top: 14px; }

.red_button:hover {
  cursor: pointer;
  background-color: #f76f5d; }

.line_list li {
  float: right;
  padding-left: 25px;
  padding-top: 18px; }

.line_list li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 700; }

.line_height {
  height: 60px; }

.red_line_text {
  color: #e94e38; }

.line_divs {
  height: 35px;
  width: 255px;
  margin: auto; }

.line_div {
  width: 115px;
  height: 35px;
  border: 1px solid grey;
  border-radius: 30px;
  display: inline-block;
  position: relative;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 15px; }

.arrow_down2, .location_icon {
  position: absolute;
  top: 8px;
  right: 10px; }

.arrow_down2 {
  color: #000; }

.filter {
  width: 320px;
  padding-top: 15px;
  padding-right: 30px; }

.filter_circle {
  width: 40px;
  height: 40px;
  background-color: darkgray;
  float: right;
  border-radius: 100%; }

.filter .filter_circle {
  margin-top: -5px;
  margin-left: 5px;
  padding-top: 6px;
  padding-left: 13px;
  color: #fff; }

.filter .filter_circle:nth-child(2) {
  background-color: #88499c;
  padding-top: 7px; }

.filter .filter_circle:nth-child(3) {
  padding-left: 11px;
  background-color: #f19e1f; }

.filter .filter_circle:nth-child(4) {
  padding-left: 10px;
  padding-top: 7px; }

.filter .filter_circle:nth-child(5) {
  padding-top: 7px; }

.filter .filter_circle:nth-child(6) {
  background-color: #1baf5d;
  padding-left: 12px; }

.filter_text {
  padding-top: 100px; }

.images {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid rgba(175, 175, 175, 0.418);
  border-bottom: 2px solid rgba(175, 175, 175, 0.418); }

.img_price1 {
  background: url("../img/apartment.png");
  background-size: 100% 100%;
  width: 250px;
  height: 180px;
  border-bottom: 5px solid #1baf5d;
  margin: 0 auto; }

.img_price2 {
  background: url("../img/party.png");
  background-size: 100% 100%;
  width: 250px;
  height: 180px;
  border-bottom: 5px solid #f19e1f;
  margin: 0 auto; }

.img_price3 {
  background: url("../img/apartment.png");
  background-size: 100% 100%;
  width: 250px;
  height: 180px;
  border-bottom: 5px solid #88499c;
  margin: 0 auto; }

.img_price4 {
  background: url("../img/office.png");
  background-size: 100% 100%;
  width: 250px;
  height: 180px;
  border-bottom: 5px solid #1baf5d;
  margin: 0 auto; }

.pricing_text {
  width: 70%;
  text-align: center;
  margin: 30px auto 0 auto;
  color: grey;
  font-size: 17px; }

.price_circle {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: #1baf5d;
  text-align: center;
  padding-bottom: 6px;
  font-size: 35px;
  color: #fff;
  border: 2px solid #fff;
  bottom: -30px;
  left: 95px; }

.orn_circle {
  background-color: #f19e1f !important; }

.purple_circle {
  background-color: #88499c; }

.pricing_hover {
  opacity: 0;
  width: 250px;
  height: 175px;
  cursor: pointer; }

.pricing_hover:hover {
  opacity: 1;
  background: rgba(128, 0, 128, 0.452);
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.grn_prc_bg:hover {
  background: rgba(32, 187, 115, 0.452); }

.orn_prc_bg:hover {
  background: rgba(167, 126, 16, 0.575); }

.show_more {
  border: 2px solid #fff;
  border-radius: 20px;
  width: 75%;
  height: 45px;
  position: absolute;
  top: 30px;
  left: 13%;
  color: #fff;
  text-align: center;
  padding-top: 8px; }

.show_more i {
  margin-right: 10px; }

.pricing_stars {
  position: absolute;
  color: #fff;
  font-weight: 700;
  top: 100px;
  left: 80px; }

.pricing_title {
  text-align: center;
  margin-top: 10px;
  font-weight: 700; }

.pricing_stars2 {
  text-align: center;
  color: #f19e1f; }

.title_gray {
  color: #aaa9a9; }

.title_green {
  color: #1baf5d; }

.title_orange {
  color: #f19e1f; }

.title_purple {
  color: #88499c; }

.price_top {
  background: #1baf5d;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 80px; }

.long_img1 {
  background: url("../img/apartment2.png");
  background-size: 100% 100%;
  width: 100%;
  height: 175px;
  border-bottom: 5px solid #1baf5d;
  color: #fff;
  font-weight: 700; }

.orange_border {
  border-bottom: 5px solid #f19e1f !important; }

.long_img_circle {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: #1baf5d;
  text-align: center;
  padding-bottom: 6px;
  font-size: 35px;
  color: #fff;
  border: 2px solid #fff;
  bottom: -30px;
  left: 45px; }

.long_img_title {
  position: absolute;
  bottom: 2px;
  left: 170px; }

.long_img_stars {
  color: #f19e1f; }

.lng_img_number {
  font-weight: 300; }

.long_img_stars2 {
  color: #f19e1f;
  margin-left: 120px;
  margin-top: 40px; }

.user_icon {
  height: 61px;
  position: absolute;
  left: 60px;
  top: 220px; }

.long_img_text {
  width: 350px;
  font-size: 15px;
  margin-left: 121px; }

.pricing_more {
  text-align: center; }

.pricing_more a {
  color: grey; }

.offer_circle {
  width: 100px;
  height: 100px;
  border: 2px solid #9dacad;
  border-radius: 100%;
  font-size: 40px;
  text-align: center;
  padding-top: 15px;
  background-color: #fff;
  z-index: 2;
  color: #9dacad; }

.offer_circle:hover {
  border: 2px solid #1db05e;
  cursor: pointer;
  color: #1db05e; }

.offer_line {
  width: 900px;
  height: 2px;
  background-color: #9dacad;
  top: 50%;
  z-index: 1; }

.offer_circle2 {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #1db05e;
  border-radius: 100%;
  top: 10px;
  left: 0px;
  text-align: center; }

ul {
  list-style-type: none; }

/*# sourceMappingURL=styles.css.map */