.line_list li {
    float: right;
    padding-left: 25px;
    padding-top: 18px;
}

.line_list li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 700;
}

.line_height {
    height: 60px;
}

.red_line_text {
    color: #e94e38;
}

.line_divs {
    height: 35px;
    width: 255px;
    margin:  auto;
}

.line_div {
    width: 115px;
    height: 35px;
    border: 1px solid grey;
    border-radius: 30px;
    display: inline-block;
    position: relative;
    padding-top:  5px;
    padding-left: 10px;
    font-size: 15px;
}

.arrow_down2, .location_icon {
    position: absolute;
    top: 8px;
    right: 10px;
}

.arrow_down2 {
    color: #000;
}

.filter {
    width: 320px;
    padding-top: 15px;
    padding-right: 30px;
}

.filter_circle {
    width: 40px;
    height: 40px;
    background-color: darkgray;
    float: right;
    border-radius: 100%;
}

.filter .filter_circle {
    margin-top: -5px;
    margin-left: 5px;
    padding-top: 6px;
    padding-left: 13px;
    color: #fff;
}

.filter .filter_circle:nth-child(2) {
    background-color: #88499c;
    padding-top: 7px;
}

.filter .filter_circle:nth-child(3) {
    padding-left: 11px;
    background-color: #f19e1f;
}

.filter .filter_circle:nth-child(4) {
    padding-left: 10px;
    padding-top: 7px;
}

.filter .filter_circle:nth-child(5) {
   padding-top: 7px;
}

.filter .filter_circle:nth-child(6) {
    background-color: #1baf5d;
    padding-left: 12px;
 }
 




.filter_text {
    padding-top: 100px;
}